%h1 Testing process!!!
= form_tag(controller: 'jtests', action: 'score', method: 'post') do
  - q=0
  = hidden_field_tag "testing[jtest_id]", @jtest.id
  - @quests.each do |question|
    - a=0
    %h3= question.content.html_safe
    = hidden_field_tag "testing[quesiton_attributes][#{q}][question_id]", question.id
    .display-inline
      - question.answers.order('random()').each do |answer|
        .second_level
          = check_box_tag("testing[quesiton_attributes][#{q}][answer_attributes][#{a}][answer_id]", answer.id)
          = answer.content.html_safe
          - a+=1
    - q +=1
  = submit_tag("Finish_test")
