%h1= t(:editing_topic)

= render 'form'

%br
%br
= link_to @topic do
	%span.glyphicon.glyphicon-search
	= I18n.t(:show)
\|
= link_to topics_path do
	%span.glyphicon.glyphicon-circle-arrow-left
	= I18n.t(:back)
