- provide(:title, I18n.t(:listing_topics))
%h1.text-center=I18n.t(:listing_topics)

.col-md-11
  - if admin?
    = link_to new_topic_path, id: 'n_topic', class: 'btn btn-default', remote: true do
      %span.glyphicon.glyphicon-plus
      =I18n.t(:new_topic)

  .panel.panel-default
    -@topics.group_by{|t| t.grade}.each do |grade, topics|
      .panel-heading.text-center
        %h3= grade
      %ul.list-group
      -topics.each do |topic|
        %li.list-group-item.list_topic{id: "top_#{topic.id}"}
          =link_to topic, class: 'link_tab' do
            =topic.content
          - if admin?
            = link_to edit_topic_path(topic), title: I18n.t(:edit), remote: true do
              %span.glyphicon.glyphicon-edit
            = link_to topic, :method => :delete, :data => { :confirm => 'Ви впевненні?' }, title: I18n.t(:destroy), remote: true do
              %span.glyphicon.glyphicon-remove

