- provide :title, t(:listing_theories)

.text-center
  %h1= t(:listing_theories)
-if admin?
  =link_to new_theory_path, class: "btn btn-default" do
    %span.glyphicon.glyphicon-plus
    = I18n.t(:new_theory)
%br
%br

= will_paginate @theories
- @theories.in_groups_of(3).each do |theory|
  .row
    - theory.each do |theor_td|
      - if theor_td
        .col-md-4
          %span.label.label-default= t(:topic) + ': '+ theor_td.topic.content
          %span.label.label-info.pull-right= t(:grade) + ': '+ theor_td.topic.grade.to_s
          %h2.text-center
            = theor_td.name
          = truncate_html theor_td.theory_text, :length => 500
          .pull-left
            = link_to theor_td, class: "btn btn-default" do
              =t(:show)
              %span.glyphicon.glyphicon-play
          - if admin?
            .pull-right
              = link_to edit_theory_path(theor_td), title: I18n.t(:edit) do
                %span.glyphicon.glyphicon-edit
              = link_to theor_td, :method => :delete, :data => { :confirm => 'Ви впевненні, що хочете видалити данну тему?' }, title: I18n.t(:destroy) do
                %span.glyphicon.glyphicon-remove



