.nested-atributes
  %fieldset
    = f.input :content, label: false, input_html: { size: 120 }, placeholder: 'Введіть текст питання', as: :hidden
    .div-content.div_input{contentEditable: 'true'}
    = f.input :_destroy, as: :radio_buttons, label: 'Видалити? -> '
    .col-md-offset-1.panel.panel-default
      = f.simple_fields_for :answers do |builder|
        = render 'answer_fields', f: builder
      = link_to_add_fields "Додати відповідь", f, :answers