= provide(:title, I18n.t(:new_dimage)) 
.col-md-8.col-md-offset-2.center
  .panel.panel-default
    .panel-heading
      %h1= I18n.t(:new_dimage)
    .panel-body
      = render 'form'
  
  .pull-left
    = link_to  dimages_path do
      %span.glyphicon.glyphicon-circle-arrow-left
      = I18n.t(:back)
