<!DOCTYPE html>
<html>
<head>
 
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<div class="row">
		<div class="col-md-12">
			<%= render 'layouts/header' %>
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %> fade in">
					<%= value %>
					<a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
        		</div>
      		<% end %>
			<%= yield %>	
			
					
		</div>	
	</div>
</body>
</html>
